form {
    text-align: center;
}

title {
    text-align: center;
}

#topFence {
	width: 700px;
	height: 100px;
	background-image: url("static/northFence.png");
	background-repeat: repeat-x;
}

#largerPasture {
	width: 700px;
	height: 500px;
	margin: auto;
    background-color: red;
}

#thePasture {
	width: 500px;
	height: 300px;
	margin: auto;
    background-color: forestgreen;
	overflow: hidden;

	position: relative;
}

.clickableCow {
    width: 100px;
    height: 100px;
    cursor: pointer;
	display: none;
	
	position: absolute;
	left: -100px;
	top: -100px;
}