form {
    text-align: center;
}

title {
    text-align: center;
}

.clickableCow {
    width: 100px;
    height: 100px;
    cursor: pointer;
	display: inline;
}

.oldClickable {
    width: 500px;
    height: 600px;
    cursor: pointer;
}