<html>
  <head>
    <title>Cow Clicker 2</title>
    <link rel="stylesheet" href="static/style.css" />
    <style>
    body {
      font-family: Helvetica, sans-serif;
      font-size: 12px;
    }
    </style> <!-- Not working in external??????? -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>
    {% if error_message %}
      <div class="Error">{{error_message}}</div>
    {% endif %}
    
    {% block nav %}{% endblock %}

    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </body>

</html>