{% extends '_base.html' %}
{% block header %}
WELCOME TO COW CLICKER
{% endblock %}

{% block nav %}
<nav>
	<a href="store.html" target="_self" class="NavLink">Cow Store</a>
	<a href="cowclicker.html" target="_self" class="NavLink">The Pasture</a>
</nav>
{% endblock %}

{% block content %}

<div>
  Click the cow for points.
</div>

<!-- Make the data we actually pull from off the page display: none; -->
<div onload="loadGameState()">
	<div id="POINTz">You have <span id="points">{{ init_points }}</span> points.</div>
	<div id="COWz">The state of your cows is <span id="cows">{{ init_cows }}</span>.</div>
</div>

<div id="largerPasture">
	<div id="topFence"><img src="static/northFence.png" style="display: none;" /><!-- Serve static image --></div>
	<div id="leftFence"><img src="static/westFence.png" style="display: none;" /><!-- Serve static image --></div>
	<div id="rightFence"><img src="static/eastFence.png" style="display: none;" /><!-- Serve static image --></div>
	<div id="thePasture"><img src="static/grassTexture.jpg" style="display: none;" /><!-- Serve static image -->
		<img class="clickableCow" id="cow0" src="static/standardCow.jpeg" onclick="clickThatCow(this);">
		<img class="clickableCow" id="cow1" src="static/cuteCow.jpg" onclick="clickThatCow(this);">
		<img class="clickableCow" id="cow2" src="static/sillyCow.jpg" onclick="clickThatCow(this);">
		<img class="clickableCow" id="cow3" src="static/chonkCow.jpg" onclick="clickThatCow(this);">
		<img class="clickableCow" id="cow4" src="static/minecraftCow.jpg" onclick="clickThatCow(this);">
	</div>
	<div id="bottomFence"><img src="static/southFence.png" style="display: none;" /><!-- Serve static image --></div>
</div>

<script>
	// document.getElementById("thePasture").onload does not work
	window.onload = function() {
		loadGameState();
		loadUnlockedCows();
        animateCows();
	}
	
	function clickThatCow(imageElement) {
		var inc = 0;

		var str = imageElement.src;
		var n = str.indexOf("static");
		var imgName = str.substring(n+7);

		switch (imgName) {
			case "standardCow.jpeg":
				inc = 100;
				break;
			case "cuteCow.jpg":
				inc = 175;
				break;
			case "sillyCow.jpg":
				inc = Math.floor(Math.random()*500) + 1; // this will get a number between 1 and 500;
				inc *= Math.floor(Math.random()*2) == 1 ? 1 : -1; // this will add minus sign in 50% of cases
				break;
			case "chonkCow.jpg":
				inc = Math.floor(Math.random()*5) == 2 ? 600 : 300; // 20% chance of inc = 600, 80% chance inc = 300
				break;
			case "minecraftCow.jpg":
				temp = Math.floor(Math.random()*10) + 1; // 10% chance of any power of 2 from 0 - 10
				inc = Math.pow(2, temp);
				break;
			default: // tallGrass.jpg
				console.log("Default case ran! Clicked tall grass.");
				inc = 0;
				break;
		}

		points = Number(points);
		points += inc; // JS is dumb

		document.getElementById('points').innerHTML = points;
		console.log("You now have " + points + " points!");
	}

	function loadGameState() {
		points = Number(document.getElementById('points').innerHTML);
		cows = Number(document.getElementById('cows').innerHTML);
		console.log("Loaded " + points + " points. Thanks for returning!");
		console.log("Loaded " + cows + " as the state of your cows. Thanks for returning!");
	}

	function loadUnlockedCows() {
		// If the user's "cows" data says they own a certain cow, then set the
		// images src to the correct cow image source. If the user does not own 
		// a certain cow then that image's source will be set to Tall Grass
		console.log("Cow state is apparently " + cows);
		
		if ((cows & 1) == 1) {
			document.getElementById("cow0").style.display = "inline";
		}
		if ((cows & 2) == 2) {
			document.getElementById("cow1").style.display = "inline";
		}
		if ((cows & 4) == 4) {
			document.getElementById("cow2").style.display = "inline";
		}
		if ((cows & 8) == 8) {
			document.getElementById("cow3").style.display = "inline";
		}
		if ((cows & 16) == 16) {
			document.getElementById("cow4").style.display = "inline";
		}
	}

	// Give each cow its own copy of variables
	function animateThisCow(cowCount) { // Math.floor(Math.random()*500) + 1; // this will get a number between 1 and 500;
		let leftSpace = 2*(Math.floor(Math.random()*301) + 1) - 102; // Random even number between -100 and 500 inclusive
		let topSpace = 2*(Math.floor(Math.random()*201) + 1) - 102; // Random even number between -100 and 300 inclusive

		let directionX = Math.random() <= .5 ? true : false;
		let directionY = Math.random() <= .5 ? true : false;

		let newCow = null;
		let hold = 0;

		do {
			newCow = document.getElementById("cow"+cowCount);
		} while (newCow == null);

		// Start at the random position
		newCow.style.left = leftSpace+"px";
		newCow.style.top = topSpace+"px";

		setInterval(function() {
			if (hold > 0) {
				hold--;
			} else {
				newCow.style.left = leftSpace+"px";
				newCow.style.top = topSpace+"px";

				if (directionX) {
					leftSpace += 2;
					if (leftSpace > 500) {
						// Under the rightmost wall
						directionX = false;
						hold = 2*((Math.floor(Math.random()*4)) + 5); // Random number between 10 and 16 inclusive
					}
				} else {
					leftSpace -= 2;
					if (leftSpace < -100) {
						// Under the leftmost wall
						directionX = true;
						hold = 2*((Math.floor(Math.random()*4)) + 5); // Random number between 10 and 16 inclusive
					}
				}

				if (directionY) {
					topSpace += 2;
					if (topSpace > 300) {
						// Under the bottommost wall
						directionY = false;
						hold = 2*((Math.floor(Math.random()*4)) + 5); // Random number between 10 and 16 inclusive
					}
				} else {
					topSpace -= 2;
					if (topSpace < -100) {
						// Under the topmost wall
						directionY = true;
						hold = 2*((Math.floor(Math.random()*4)) + 5); // Random number between 10 and 16 inclusive
					}
				}
			}
		}, 200);
	}

	// Animate the cows!!!
	function animateCows() {
		for (var cowCount = 0; cowCount <= 4; cowCount++) {
			animateThisCow(cowCount);
		}
	}
</script>

{% endblock %}
