{% extends '_base.html' %}
    
{% block content %}
    <br />
    <br />
    <h1>Welcome to Cow Clicker 2</h1>
    <br />
    <form action="/to-cow-game" method="POST">
        <table style="margin: auto;">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><input style="margin-top: 10px;" type="submit" value="Submit"></td>
            </tr>
        </table>
        Don't have an account? <a href="register.html">Register</a>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    {% endwith %}
{% endblock %}