{% extends '_base.html' %}

{% block extra_head %}
<script type="text/javascript" src="{{ url_for('static', filename='cowclicker_logic.js') }}"></script>
{% endblock %}

{% block content %}

<!-- invisible node to pull data from -->
<span id="cows" style="display: none;">{{ init_cows }}</span>

<br />
<br />

<body style="background-color:rgb(96, 158, 80);">

<table style="margin: auto; font-size: 12px;">
	<tr>
		<td width="150" style="text-align: center;">
			You have<br />
			<div id="points" style="font-size: 24px;">{{ init_points }}</div><br />
			points.
		</td>
		<td width="150" style="text-align: center;">
			Go to the<br />
			<strong><a href="cowclicker.html" target="_Self" style="font-size: 24px; text-decoration: none;">PASTURE</a></strong>
		</td>
	<!--
		<td width="150" style="text-align: center;">
			Go to the<br />
			<strong><a href="leaderboard.html" target="_Self" style="font-size: 24px; text-decoration: none;">LEADERBOARD</a></strong>
		</td>
	</tr>
	--->
</table>
    <body>
        <figure>
            <img src="static/cows/cuteCow.jpg" style="width:500px;height:500px;" onclick="buyThatCow(1);">
            <figcaption>Cute Cow (5,000 Points): Gives 175 points/click</figcaption>
        </figure>
        <figure>
            <img src="/static/cows/sillyCow.jpg" style="width:500px;height:500px;" onclick="buyThatCow(2);">
            <figcaption>Silly Cow (10,000 Points): Gives a random point/click value from -500 to +500</figcaption>
        </figure>
        <figure>
            <img src="/static/cows/chonkCow.jpg" style="width:500px;height:500px;" onclick="buyThatCow(3);">
            <figcaption>Chonk Cow (50,000 Points): Gives 300 points/click with a 20% chance to give 600 points instead</figcaption>
        </figure>
        <figure>
            <img src="/static/cows/minecraftCow.jpg" style="width:500px;height:500px;" onclick="buyThatCow(4);">
            <figcaption>Minecraft Cow (100,000 Points): 10% chance to give a points/click of any power of 2 from 0 - 10</figcaption>
        </figure>
	</body>
</body>
	<script>

	var points, cows;

	//function loadGameState() { // need to actually pass points to this page (xml?)
		//points = Number(document.getElementById('points').innerHTML);
		//cows = Number(document.getElementById('cows').innerHTML);
		//console.log("Loaded " + points + " points. Thanks for returning!");
		//console.log("Loaded " + cows + " as the state of your cows. Thanks for returning!");
	//};
	
	isStart = true
	function buyThatCow(cowID) {
		if (isStart) {
			loadGameState()
			isStart = false
		}
		// attempt to buy a cow in the store
		//var cowsDiv = document.getElementById('cows'); //Place holder until datastore works
		//var pointsDiv = document.getElementById('points'); //Place holder until datastore works

		// if the user has enough points to buy a cow when it is clicked on,
		// and it has not been bought before, change that cow's array value to non-null,
		// so it loads instead of tall grass the next time cowclicker.html is loaded
		switch(cowID){
			case 1:
		  //case "https://cow-clicker-2.appspot.com/static/cuteCow.jpg":
				if(points >= 5000 && (cows & 2 != 2)){
					cows = cows + 2;
					points = points - 5000;
				}
				break;
			
			case 2:
		  //case "https://cow-clicker-2.appspot.com/static/sillyCow.jpg":
				if(points >= 10000 && (cows & 4 != 4)){
					cows = cows + 4;
					points = points - 10000;
				}
				break;

			case 3:
		  //case "https://cow-clicker-2.appspot.com/static/chonkCow.jpg":
				if(points >= 50000 && (cows & 8 != 8)){
					cows = cows + 8;
					points = points - 50000;
				}
				break;

			case 4:
		  //case "https://cow-clicker-2.appspot.com/static/minecraftCow.jpg":
				if(points >= 100000 && (cows & 16 != 16)){
					cows = cows + 16;
					points = points - 100000;
				}
				break;
				
			default:
				console.log("default case ran!!!!")
				break;
		}
	}
	</script>
{% endblock %}
